
{{define "content"}}

<div class="form-group col-md-12">
  <div class="row col-md-12 ">
    <ul class="nav nav-pills text-right">
      <li role="presentation" class="active"><a href="#" onclick="window.history.back()" >Volver</a></li>
      <li role="presentation" ><a href="/questions/edit?id={{.Content.Id}}">Editar</a></li>
      <li role="presentation" ><a href="/questions/delete?id={{.Content.Id}}">Borrar</a></li>
    </ul>
  </div>
</div>

<div class="panel label-panel col-md-8 col-md-offset-2">
  <!-- Panel de etiquetas -->
  <div class="row col-md-3">
  {{range .Content.Tags}}
    <span class="label label-default">{{.}}</span>
  {{end}}
  </div>

  <!-- Panel de avisos de pregunta -->
  <div class="row col-md-1 pull-right">
    
  {{ if .Content.Solution.Body.IsUnsolved }}
    <a href="/help#no-solution" class="label label-danger">Sin Solución</a>
  {{end}}
  </div>

</div>

<div class="panel col-md-8 col-md-offset-2">
  {{.Content.GetHTMLText}}
  <hr>
  
  <div id="answerPanel" class="row col-md-11 col-md-offset-1">

    {{ if not .Content.Solution.Body.IsUnsolved }}
    <div id="solvedPanel">
       {{.Content.GetHTMLSolution}}
      <input type="button" class="btn btn-default pull-right" id="answerUpdateButton" value="Actualizar" />
    </div>
    {{end}}

    <div id="unSolvedPanel">
      <form id="answerEditForm" class="form-group" method="post" action="/answers/solve">
	<input type="hidden" name="AuthorId" value="{{ .User.Id }}">
	<input type="hidden" name="QuestId" value="{{ .Content.Id }}">
	<input type="hidden" name="BodyType" value="{{ .Content.AType }}">
        {{.Content.GetHTMLAnswer}}
	<input type="button" class="btn btn-default pull-right" id="answerNewSubmit" value="Contestar" />
        {{ if not .UnSolvedQuestion }}
	<input type="button" class="btn btn-default pull-right" id="answerNewCancel" value="Cancelar" />
        {{end}}
      </form>
    </div>

  </div>
</div>

{{end}}
