
{{define "content"}}

<div class="form-group col-md-12">
  <div class="row col-md-12 ">
    <ul class="nav nav-pills text-right">
      <li role="presentation" class="active"><a href="/welcome" >Volver</a></li>
    </ul>
  </div>
</div>

<div class="row col-md-8 col-md-offset-2">

  <div class="page-header text-center">
    <h1>{{.Content.Title}}<br><small>{{.Content.Course}}</small></h1>
  </div>

  <!-- Etiquetas -->
  <div class="panel label-panel">
  {{range .Content.Tags}}
    <span class="label label-default">{{.}}</span>
  {{end}}
  </div> 

  <!-- Descripción -->

  {{if ne .Content.Desc ""}}
  <div class="well">
    {{.Content.Desc}}
  </div>
  {{end}}


  {{range $i, $ex := .Content.Exercises}}
  <div class="panel panel-default exercise-panel">
    <div class = "panel-heading">
      Ejercicio {{inc $i}}
    </div>
    <div class = "panel-body">
    {{.Quest.GetHTMLText}}
      <div ><!-- answered panel -->
	<form class="form-group answer-panel" method="post">
	  <input type="hidden" name="QuestId" value="{{ .Quest.Id }}">
	  <input type="hidden" name="ExerciseId" value="{{ .Id }}">
	  <input type="hidden" name="BodyType" value="{{ .Quest.AType }}">

          {{.Quest.GetHTMLAnswer}}

	  <input type="button"  class="btn btn-default pull-right submit-answer" value="Contestar" />
	</form>
      </div>
    </div>
  </div><!-- exercise panel -->
  {{end}}
  
</div>

</div>

<script>
 testmaker.init()
</script>
{{end}}
