{{define "content"}}

<div class="form-group col-md-12">
  <div class="row col-md-12 ">
    <ul class="nav nav-pills text-right">
      <li role="presentation" class="active"><a href="#" onclick="window.history.back()" >Volver</a></li>
    </ul>
  </div>
</div>




<div class="panel col-md-12">

  <div class="form-group col-md-8 col-md-offset-2">
    <form id="testEditForm" method="post">
      
      <div class="form-group">
	<label>Título</label>
	<input type="text" class="form-control" name="Title" placeholder="Título del exámen" value="{{.Content.Title}}">
      </div>

      <div class="form-group">
	<label>Curso</label>
	<input type="text" class="form-control" name="Course" placeholder="Curso, módulo, ciclo, etc ..." value="{{.Content.Course}}">
      </div>

      <div class="form-group">
	<label>Comentarios iniciales</label>
	<textarea name="Desc" class="form-control">{{.Content.Desc}}
	</textarea>
      </div>

      <div class="form-group">
	<label>Ejercicios</label>

	
	<div id="testSelectQuestionPanel" class="panel-list panel-select-questions">
	  <!-- List of all question of this user to add them to a test -->
	  <div class="panel panel-default panel-list-main">	    
	    <ul class="list-group results">


	    </ul>
	  </div>
	  <button type="button" id="cancelSelectedQuests" class="btn btn-default pull-right">Cancelar</button>
	  <div class="panel label-panel tags">
	  </div>
	</div>
	

	<!-- List of added question -->

	<div id="testAddedQuestionPanel" class="panel-list panel-questions-added">
	  <div class="panel panel-default panel-list-main">
	    <ul class="list-group results">


	    </ul>
	  </div>
	  <button type="button" id="addMoreQuests" class="btn btn-default pull-right">Más</button>
	</div>

      </div><!-- end of exercises -->





      <div class="form-group">
	<label>Usuarios permitidos</label>

	<div id="testSelectUserPanel" class="panel-list panel-select-users">
	  <!-- List of all question of this user to add them to a test -->
	  <div class="panel panel-default panel-list-main">
	    <ul class="list-group results">



	    </ul>
	  </div>
	  <button type="button" id="cancelSelectedUser" class="btn btn-default pull-right">Cancelar</button>
	  <div class="panel label-panel tags">
	  </div>
	</div>

	<div id="testAddedUserPanel" class="panel-list panel-users-added">
	  <div class="panel panel-default panel-list-main">
	    <ul class="list-group results">
	      
	    </ul>
	  </div>
	  <button type="button" id="addMoreUsers" class="btn btn-default pull-right">Más</button>
	</div>
      </div>	



      <div class="form-group">
	<label>Etiquetas</label>
	<input type="text" class="form-control input-tags" name="Tags" placeholder="Escríbelas separadas por comas" value="{{.Content.GetStringTags}}">
      </div>

      <div class="form-group text-right">
	<button type="button" id="testNewSubmit" class="btn btn-default">Crear</button>
      </div>
    </form>
    <div id="testEditAlert" class="alert" role="alert">...</div>
  </div>

{{if .ImportForm}}
  
  <div class="form-group col-md-6 col-md-offset-3">
    <hr>
    <form id="testImportForm" enctype="multipart/form-data" action="/tests/import" method="post">
      <div class="form-group">
	<label >Adjuntar un archivo</label>
	<input type="file" name="importFile" />
	<!--  <p class="help-block">Ejemplo de texto de ayuda.</p>-->
      </div>

      <div class="form-group text-right">
	<button type="submit" id="testImportSubmit" class="btn btn-default">Importar</button>
      </div>
    </form> 
  </div>
{{end}}


</div>

<script>
 var testEdited
 {{if .FromEditHandler}}
    testEdited = {{.Content}}
 {{end}}
 usersList.init({test:testEdited,addItemIcon:true,removeItemIcon:true})
 questionsList.init({test:testEdited,addItemIcon:true,removeItemIcon:true})
</script>
{{end}}
