
{{define "content"}}

<div class="form-group col-md-12">
  <div class="row col-md-12 ">
    <ul class="nav nav-pills text-right">
      <li role="presentation" class="active"><a href="#" onclick="window.history.back()" >Volver</a></li>
      <li role="presentation" ><a href="/tests/edit?id={{.Content.Id}}">Editar</a></li>
      <li role="presentation" ><a href="/tests/delete?id={{.Content.Id}}">Borrar</a></li>
    </ul>
  </div>
</div>

<div class="row col-md-8 col-md-offset-2">

  <div class="page-header text-center">
    <h1>{{.Content.Title}}<br><small>{{.Content.Course}}</small></h1>
  </div>

  <!-- Etiquetas -->
  <div class="panel label-panel">
  {{range .Content.Tags}}
    <span class="label label-default">{{.}}</span>
  {{end}}
  </div> 

  <!-- Descripción -->

  {{if ne .Content.Desc ""}}
  <div class="well">
    {{.Content.Desc}}
  </div>
  {{end}}

  
  {{range .Content.Exercises}}
  <div class="panel">
    {{.Quest.GetHTMLText}}
    <div id="solvedPanel" class="row">
      {{.Quest.GetHTMLSolution}}
    </div>
  </div>


</div>



  {{end}}


</div>

{{end}}
