{{define "content"}}


<div class="form-group col-md-12">
  <div class="row col-md-12 ">
    <ul class="nav nav-pills text-right">
      <li role="presentation" ><a href="/users/all">Listar</a></li>
      <li role="presentation" class="active"><a href="/users/new">Crear</a></li>
    </ul>
  </div>
</div>



<div class="panel col-md-12">
  {{if .Content}}
    <h2>Edita Usuario</h2>
  {{else}}
    <h2>Nuevo Usuario</h2> 
  {{end}}

  <div class="form-group col-md-6 col-md-offset-3">
    <form id="userEditForm" method="post">
      {{if .Content}}
      <input type="hidden" name="Id" value="{{.Content.Id}}">
      {{end}}
      <div class="form-group">
	<label>Nombre y Apellidos</label>
	<input type="text" class="form-control" name="Name" placeholder="..." value="{{.Content.Name}}">
      </div>

      <div class="form-group">
	<label>Email</label>
        {{if .Content}}
	<input type="email" class="form-control" name="Mail" placeholder="Email de usuario" readonly value="{{.Content.Mail}}">
        {{else}}
	<input type="email" class="form-control" name="Mail" placeholder="Email de usuario">
	{{end}}
      </div>

      <div class="form-group">
	<label>Rol</label>
	<select class="form-control" id="Role" name="Role">
          {{if .Content.IsStudent}}
	     <option value="3" selected>Estudiante</option>
	  {{else}}
	     <option value="3">Estudiante</option>
          {{end}}
          {{if .Content.IsTeacher}}
	     <option value="7" selected>Profesor</option>
	  {{else}}
	     <option value="7">Profesor</option>
          {{end}}
	  {{if .Content.IsAdmin}}
	     <option value="15" selected>Administrador</option>
	  {{else}}
	     <option value="15">Administrador</option>
          {{end}}
	</select>
      </div>

      <div class="form-group">
	<label>Etiquetas</label>
	<input type="email" class="form-control" name="Tags" placeholder="Escríbelas separadas por comas" value="{{.Content.GetStringTags}}">
      </div>

      <div class="form-group text-right">
      {{if .Content}}
	<button type="button" id="userUpdateSubmit" class="btn btn-default">Editar</button>
      {{else}}
	<button type="button" id="userNewSubmit" class="btn btn-default">Crear</button>
      {{end}}
      </div>
    </form>
    <div id="userEditAlert" class="alert" role="alert">...</div>
  </div>

{{end}}
